:root {
    --blue-light: #4ABAF9;
    --green-light: #BCF6B3;

    --dark-light: #5A5A5A; 
    --dark: #292929; 

    --blue: #3864FF;
    --blue-clar: #96C7D7; 

    --purple: #9B98EF; 
    --ciruela: #FBC7D4; 
    
    --orange: #F4A261; 
    --orange-light: #FFEA7A;

    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Prompt', sans-serif;
}

/*SECCION ENVIO*/

.seccionEnvio{
    width: 500px;
    margin: 20px auto;
    display: grid;
    grid-template:
        "input input input input" 50px
        "form  form  form  button" 50px/
        1fr    1fr   1fr   1fr;
}

.seccionEnvio .contenedorInput{
    grid-area: input;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccionEnvio input[type="text"]{
    width: 95%;
    height: 30px;
    border-radius: 15px;
    border: 1px solid rgb(204, 204, 204);
    text-indent: 10px;
}

input[type="text"]:focus {
    outline: 2px solid rgb(238, 238, 238);
}

.seccionEnvio form{
    grid-area: form;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.seccionEnvio form label{
    border: 1px solid rgb(204, 204, 204); 
    padding: 5px 10px;
    border-radius: 15px;
    color: var(--white);
    text-align: center;
    
}

.seccionEnvio form .opcion1{
    background: linear-gradient(to right, var(--blue), var(--blue-light));
}

.seccionEnvio form .opcion2{
    background: linear-gradient(to right, var(--purple), var(--ciruela));
}

.seccionEnvio form .opcion3{
    background: linear-gradient(to right, var(--orange), var(--orange-light));
}

.seccionEnvio .contenedorBoton{
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccionEnvio button{
    width: 80%;
    height: 80%;
    background: var(--dark);
    color: var(--white);
    border-radius: 15px;
}


/*SECCION PROYECTOS*/
.seccionProyectos{
    
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.proyecto1, .proyecto2, .proyecto3{
    width: 400px;
    height: 300px;
    background: lightgray;
}


/*SECCION HEADER*/
.seccionHeader{
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, var(--blue-light), var(--green-light));
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

/*SECCION PRESENTACION*/
.seccionPresentacion{
    width: 100%;
    height: 100px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark-light)
}

.seccionPresentacion h2{
    font-size: 20px;
}


/*RESPONSIVE DESIGN XD*/
@media (max-width: 1000px){
    .seccionProyectos{
        flex-direction: column;
        height: auto;
    }
    .proyecto1, .proyecto2, .proyecto3{
        margin: 10px;
    }
}


@media (max-width: 500px){
    .seccionEnvio{
        width: auto;
    }
    .proyecto1, .proyecto2, .proyecto3{
        width: 90%;
    }
}